li{
  list-style: none;
}

input{
  margin: 8px; 0;
  box-sizing: border-box;
}

body{
  background: linear-gradient(-135deg, #E4A972, #9941D8) fixed;
  text-align: center;
}

#touch{
  padding: left;
}

#pending{
  position: absolute;
  text-align: left;
  border: 2px solid white;
  padding: 7px;
  margin: 7px;

  bottom: 7%;
  width: 70%;
}

#done{

  position: absolute;
  text-align: left;
  border: 2px solid white;
  padding: 7px;
  margin: 7px;

  bottom: 0;
  width: 70%;
}

#done_list{
  text-align: right;
}
